# Unity project under UD1/MyGame2D
UD1/MyGame2D/[Ll]ibrary/
UD1/MyGame2D/[Tt]emp/
UD1/MyGame2D/[Oo]bj/
UD1/MyGame2D/[Bb]uild/
UD1/MyGame2D/[Bb]uilds/
UD1/MyGame2D/[Ll]ogs/
UD1/MyGame2D/[Mm]emoryCaptures/
UD1/MyGame2D/[Bb]uildCache/

# Ignore IDE files in project
UD1/MyGame2D/*.csproj
UD1/MyGame2D/*.sln
UD1/MyGame2D/.vs/
UD1/MyGame2D/.idea/
UD1/MyGame2D/.vscode/

# Unity project under UD1/Coneho
UD1/Coneho/[Ll]ibrary/
UD1/Coneho/[Tt]emp/
UD1/Coneho/[Oo]bj/
UD1/Coneho/[Bb]uild/
UD1/Coneho/[Bb]uilds/
UD1/Coneho/[Ll]ogs/
UD1/Coneho/[Mm]emoryCaptures/
UD1/Coneho/[Bb]uildCache/

# Ignore IDE files in project
UD1/Plataformero2D/*.csproj
UD1/Plataformero2D/*.sln
UD1/Plataformero2D/.vs/
UD1/Plataformero2D/.idea/
UD1/Plataformero2D/.vscode/

# Unity project under UD1/Plataformero2D
UD1/Plataformero2D/[Ll]ibrary/
UD1/Plataformero2D/[Tt]emp/
UD1/Plataformero2D/[Oo]bj/
UD1/Plataformero2D/[Bb]uild/
UD1/Plataformero2D/[Bb]uilds/
UD1/Plataformero2D/[Ll]ogs/
UD1/Plataformero2D/[Mm]emoryCaptures/
UD1/Plataformero2D/[Bb]uildCache/

# Ignore IDE files in project
UD1/Plataformero2D/*.csproj
UD1/Plataformero2D/*.sln
UD1/Plataformero2D/.vs/
UD1/Plataformero2D/.idea/
UD1/Plataformero2D/.vscode/
