# ------------------------------------
# Reglas estándar de Unity (Aplicadas a cualquier subdirectorio)
# Estos directorios y archivos siempre deben ignorarse.
# ------------------------------------
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Bb]uildCache/
[Ss]ymbols/
[Dd]erivedData/

# Archivos de configuración de proyecto generados automáticamente
*.pidb
*.unityhost
*.csproj
*.unityproj
*.sln
*.user
*.usermsg
*.suo

# Archivos de caché
.vs/
.idea/
.vscode/

# Ignorar archivos temporales y paquetes de Unity
*.unitypackage
Temp/
Obj/
Build/
Builds/
Library/
Logs/